.mejs__nmgt-selector.mejs__offscreen {
    display: none;
}

.mejs__nmgt-button,
.mejs-nmgt-button {
    position: relative;
}

.mejs__nmgt-button > button,
.mejs-nmgt-button > button {
    background: transparent;
    color: white;
    font-size: 11px;
    line-height: normal;
    margin: 11px 0 0;
    width: 36px;
}

.mejs__nmgt-selector,
.mejs-nmgt-selector {
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    border-radius: 0;
    height: 150px;
    left: -10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -100px;
    width: 60px;
}

.mejs__nmgt-selector-list,
.mejs-nmgt-selector-list  {
    display: block;
    list-style-type: none !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.mejs__nmgt-selector-list-item,
.mejs-nmgt-selector-list-item {
    border: 0.06rem solid transparent;
    color: #fff;
    display: block;
    list-style-type: none !important;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 0 10px;
}

.mejs__nmgt-selector-list-item:hover,
.mejs-nmgt-selector-list-item:hover {
    background-color: rgb(200, 200, 200) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.mejs__nmgt-selector-list-item:focus-within,
.mejs-nmgt-selector-list-item:focus-within {
    border-color: #fff;
}

.mejs__nmgt-selector-input,
.mejs-nmgt-selector-input {
    /* stylelint-disable-next-line property-no-unknown */
    accent-color: black;
    clear: both;
    float: left;
    height: 15px;
    left: 2px;
    margin: 3px 3px 0 5px;
    position: absolute;
    top: 11px;
    width: 15px;
}



.mejs__nmgt-selector-label,
.mejs-nmgt-selector-label {
    color: white;
    cursor: pointer;
    float: left;
    font-size: 11px;
    line-height: 15px;
    margin-left: 5px;
    padding: 4px 0 0;
    width: 60px;
}

.mejs__nmgt-selected,
.mejs-nmgt-selected {
    /* color: rgba(33, 248, 248, 1); */
    font-weight: 700;
}


.mejs__nmgt-button {
    width: 70px;
}
.mejs__nmgt-button > button {
    width: 70px;
}